h1 {
font-family: "arial";
color:black
}
tr{
    word-spacing: 30px;
  } 

  .table{
     margin-left: auto;
     margin-right: auto; 
     text-align: center;    
     border: solid;
     color: yellow;
}
.mypic {
width: 15%;
height: auto;
float: left;
margin-left: 0px 0px 0px 30px;
}
h3{
    font-family: "arial";
    color:black   
}
.story p{
  font-family: "arial";
  color:black  
}  
.hobbies{
  font-family: "arial";
  color:black 
}
h3{
    font-family: "arial";
  color:black  
}
.table{
  font-family: "arial";
  color:black 
}
.slide{
  font-family: "arial";
  color:black   
}
 p{
  position: relative;
  margin-top: 250px;
}