h1 {
font-family: "arial";
color:black
}
tr{
    word-spacing: 30px;
  } 

  em{
      margin-bottom: 20px;
      margin-left: 50px;     
}
.mypic {
width: 15%;
height: auto;
float: left;
margin-left: 0px 0px 0px 30px;
}
